##############################################################################################################################
# ENV Sample - Ideal for a single RIG container instance, using in-memory database (no Redis available)                      # 
##############################################################################################################################

# Please Note... 
#  - This is a sample configuration to run a single RIG container with in-memory database (Redis is not required)
#  - For production it is recommended to operate RIG application in a cluster mode (multiple RIG container instances) with a Redis database
#  - One-Time-Password (OTP) authentication

##############################################################################################################################
## Generic RIG Application Configuration

ENVIRONMENT=Production

# Your Base64 encoded MobileID Client Key (PFX/PKCS#12 format)
# To get the Base64 value you may run this unix command:
# $ base64 -w 0 <MyKey.pfx>
MID_CLIENT_CERTIFICATE=MIIJW***

# Logging Configuration
Logging__LogLevel__Default=Information
Logging__LogLevel__Microsoft=Information
Logging__LogLevel__Microsoft.Hosting.Lifetime=Warning
Logging__LogLevel__Microsoft.Extensions.Diagnostics.HealthChecks=Error
Logging__LogLevel__Flexinets.Radius.RadiusServer=Trace
Logging__LogLevel__Flexinets.Radius.Core=Trace

# WebServer Port which you may use for Container TCP Health Checks
WebServer__Port=80

RadiusServer__Port=1812
RadiusServer__OtpValiditySeconds=120
RadiusServer__OtpMaxAllowedLoginAttempts=3

# Customer Configuration Source
# Value can either be 'KeyValueStorage' or 'AppSettings'
RadiusServer__CustomerConfigSource=AppSettings

# I18N Error Message Configuration Source
# Value can either be 'KeyValueStorage' or 'AppSettings'
RadiusServer__I18nMessagesSource=AppSettings

# Value can either be 'Redis' or 'InMemory'
Schnittstellen__KeyValueStorage__Storage=InMemory

# MobileID Client
Schnittstellen__MobileIdClient__Host=https://mobileid.swisscom.com
Schnittstellen__MobileIdClient__ClientCertFromEnv=true

##############################################################################################################################
## I18N Error Message Configuration
# You can add many more key definitions according to the documentation

I18nMessages__0__Key=DefaultErrorMessage
I18nMessages__0__De=Authentication failed (DE)
I18nMessages__0__Fr=Authentication failed (FR)
I18nMessages__0__It=Authentication failed (IT)
I18nMessages__0__En=Authentication failed

I18nMessages__1__Key=Mid_401
I18nMessages__1__De=The Mobile ID authentication was cancelled by the user. (DE)
I18nMessages__1__Fr=The Mobile ID authentication was cancelled by the user. (FR)
I18nMessages__1__It=The Mobile ID authentication was cancelled by the user. (IT)
I18nMessages__1__En=The Mobile ID authentication was cancelled by the user.

I18nMessages__2__Key=MidGeo_100
I18nMessages__2__De=Please enable the Geofencing toggle in the MobileID App. (DE)
I18nMessages__2__Fr=Please enable the Geofencing toggle in the MobileID App. (FR)
I18nMessages__2__It=Please enable the Geofencing toggle in the MobileID App. (IT)
I18nMessages__2__En=Please enable the Geofencing toggle in the MobileID App.

I18nMessages__3__Key=RigOtpMismatch
I18nMessages__3__De=The One-Time-Password entered is invalid. (DE)
I18nMessages__3__Fr=The One-Time-Password entered is invalid. (FR)
I18nMessages__3__It=The One-Time-Password entered is invalid. (IT)
I18nMessages__3__En=The One-Time-Password entered is invalid.

# ... define more error keys if you like...
# I18nMessages__4__*
# I18nMessages__5__*
# I18nMessages__6__*
# etc.

##############################################################################################################################
## Customer Configuration (1 or n customers may be configured)

CustomerConfigs__0__Customer=Customer iDEMO Ltd.
CustomerConfigs__0__ApId=mid://<your-ap-id>
CustomerConfigs__0__NasIdentifier=rig_with_ldap
CustomerConfigs__0__RadiusSharedSecret=***
CustomerConfigs__0__UseLdap=true
CustomerConfigs__0__DefaultLanguage=en
CustomerConfigs__0__ValidateSerialNr=false
CustomerConfigs__0__UseUserLanguage=true
CustomerConfigs__0__UseUserMfaMethod=true
CustomerConfigs__0__MfaMethods__0=SIM
CustomerConfigs__0__MfaMethods__1=APP
CustomerConfigs__0__MfaMethods__2=OTP

CustomerConfigs__0__Ldap__HostName=<your-ldap-host>
CustomerConfigs__0__Ldap__Port=389
CustomerConfigs__0__Ldap__EnableSsl=false
CustomerConfigs__0__Ldap__AdminUser=cn=admin,dc=mobileid,dc=tech
CustomerConfigs__0__Ldap__AdminPassword=***
CustomerConfigs__0__Ldap__UserSearchBase=ou=users,dc=mobileid,dc=tech
CustomerConfigs__0__Ldap__UserSearchFilter=(&(objectclass=inetOrgPerson)(uid={0}))
CustomerConfigs__0__Ldap__ValidateUserPassword=true
CustomerConfigs__0__Ldap__MobileNrAttribute=mobile
CustomerConfigs__0__Ldap__LanguageAttribute=preferredLanguage
CustomerConfigs__0__Ldap__SerialNrAttribute=msNPCallingStationID
CustomerConfigs__0__Ldap__MfaMethod__AttributeName=employeeType
CustomerConfigs__0__Ldap__MfaMethod__Mappings__Sim=SIM
CustomerConfigs__0__Ldap__MfaMethod__Mappings__App=APP
CustomerConfigs__0__Ldap__MfaMethod__Mappings__Otp=OTP

CustomerConfigs__0__Geofencing__Activate=true
CustomerConfigs__0__Geofencing__Whitelist__0=CH
CustomerConfigs__0__Geofencing__Whitelist__1=DE
CustomerConfigs__0__Geofencing__Blacklist__0=US
CustomerConfigs__0__Geofencing__MinimalDeviceConfidence=0.5
CustomerConfigs__0__Geofencing__MinimalLocationConfidence=0.5

CustomerConfigs__0__SimApp__DefaultText=Test: Please Authenticate (default)
CustomerConfigs__0__SimApp__Messages__0__Text=Test: Bitte mit Mobile ID authentifizieren (de)
CustomerConfigs__0__SimApp__Messages__1__Text=Test: Veuillez vous authentifier avec votre ID mobile (fr)
CustomerConfigs__0__SimApp__Messages__2__Text=Test: Si prega di autenticarsi con il Mobile ID (it)
CustomerConfigs__0__SimApp__Messages__3__Text=Test: Please authenticate with Mobile ID (en)

CustomerConfigs__0__Otp__DefaultText=Your MobileID code is {0} (default)
CustomerConfigs__0__Otp__Messages__0__Text=Ihr MobileID Code ist {0} (de)
CustomerConfigs__0__Otp__Messages__1__Text=Le code de votre MobileID est {0} (fr)
CustomerConfigs__0__Otp__Messages__2__Text=Il tuo codice MobileID è {0} (it)
CustomerConfigs__0__Otp__Messages__3__Text=Your MobileID code is {0} (en)

# ... define additional customers if you like ...
# CustomerConfigs__1__*
# CustomerConfigs__2__*
# etc.
