##############################################################################################################################
# ENV Sample - Ideal for a clustered RIG setup, using a Redis database                                                       # 
##############################################################################################################################

# Please Note... 
#  - This is a sample configuration to run a clustered RIG setup with a Redis database, which ideal for production use
#  - A Redis database may be run as separate cluster application (Docker image `rediscommander/redis-commander`)
#  - I18N Error Message Configuration must be defined in Redis as `I18N_MESSAGES`-key and JSON content as value. Refer to the `redis-i18n-errormsg-configuration.sample` file.
#  - Customer Configuration must be defined in Redis as `CUSTOMER_CONFIG_<NasIdentifier>`-key and JSON content as value. Refer to the `redis-customer-configuration.sample` file.

##############################################################################################################################
## Generic RIG Application Configuration

ENVIRONMENT=Production

# Your Base64 encoded MobileID Client Key (PFX/PKCS#12 format)
# To get the Base64 value you may run this unix command:
# $ base64 -w 0 <MyKey.pfx>
MID_CLIENT_CERTIFICATE=MIIJW***

# Logging Configuration
Logging__LogLevel__Default=Information
Logging__LogLevel__Microsoft=Information
Logging__LogLevel__Microsoft.Hosting.Lifetime=Warning
Logging__LogLevel__Microsoft.Extensions.Diagnostics.HealthChecks=Error
Logging__LogLevel__Flexinets.Radius.RadiusServer=Trace
Logging__LogLevel__Flexinets.Radius.Core=Trace

# WebServer Port which you may use for Container TCP Health Checks
WebServer__Port=80

RadiusServer__Port=1812
RadiusServer__OtpValiditySeconds=120
RadiusServer__OtpMaxAllowedLoginAttempts=3

# Customer Configuration Source
# Value can either be 'KeyValueStorage' or 'AppSettings'
RadiusServer__CustomerConfigSource=KeyValueStorage

# I18N Error Message Configuration Source
# Value can either be 'KeyValueStorage' or 'AppSettings'
RadiusServer__I18nMessagesSource=AppSettings

# Value can either be 'Redis' or 'InMemory'
Schnittstellen__KeyValueStorage__Storage=Redis
Schnittstellen__KeyValueStorage__Host=<redis-url>:6379

# MobileID Client
Schnittstellen__MobileIdClient__Host=https://mobileid.swisscom.com
Schnittstellen__MobileIdClient__ClientCertFromEnv=true