##############################################################################################################################
# Sample Customer JSON Configuration for REDIS                                                                               # 
##############################################################################################################################

Below is a sample customer configuration for REDIS.
You may configure one or multiple customers. Below is an example JSON entry.

Q: How is an Access-Request packet mapped to the correct customer JSON entry?
A: The RIG application looks for a match between the inbound Access-Request packet's source IP address and any existing "SourceIps"-entries in the configuration.
   If none of the "SourceIps" match, it looks for a match between the inbound Access-Request's "NAS-Identifier"-attribute and any existing "NasIdentifier"-entries in the configuration.
   Make sure the customer configuration uses either unique "SourceIps"-entries or unqiue "NasIdentifier"-entries.
   Make sure each customer entry has its unique "ApId"-entry.

Description for some of the configuration elements:

- "UnusedMidServiceEvent"-configuration
    # Customer Text SMS Notification for inactive MobileID Users (OPTIONAL)
    # Text SMS is sent after detecting a user access-request with an inactive MobileID SIM or MobileID App, with a configurable delay -> ExecutionDelayMinutes
    # Text SMS is sent to this user only once every x days -> NotificationIntervalDays
    # AppSmsText: User didn't have an active MobileID SIM nor active MobileID App and the SIM is NOT MobileID compliant! -> Inform the user about MobileID App activation
    # SimSmsText: User didn't have an active MobileID SIM nor active MobileID App and the SIM IS MobileID compliant!     -> Inform the user about MobileID SIM activation

- "ErrorNotificationEvent"-configuration
    # Customer Text SMS Notification in case of an Access-Reject (OPTIONAL)
    # The "ErrorCode"-value can be one of all the supported "I18nMessages"-Keys (refer to the 'redis-i18n-errormsg-configuration.sample')
    # For example a value for ErrorCode may be "Mid_401", "MidGeo_100", "RigSerialNumberMismatch", etc.
    # Text SMS is sent after detecting a user access-request with an inactive MobileID SIM or MobileID App, with a configurable delay -> ExecutionDelayMinutes
    # Text SMS is sent to this user only once every x days -> NotificationIntervalDays

# Please enter each customer JSON to the Redis database as follows
- Key = CUSTOMER_CONFIG_<any-unique-customer-identifier-such-as-ApId>
- VALUE (Type String) = <a-JSON-similar-to-the-example-below>

JSON example: (Please remove the #-comments from the JSON)

{
  "Customer": "My Company XYZ",
  "ApId": "mid://ap.mycompany.ch",
  "NasIdentifier": "ch_mycompany",
  "SourceIps": [
    "10.1.1.22/32"
  ], 
  "RadiusSharedSecret": "MyVeryStrongSharedSecret",
  "UseLdap": true,
  "Ldap": {
    "HostName": "10.0.0.5",
    "Port": 389,
    "EnableSsl": false,
    "AdminUser": "cn=admin,dc=mycompany,dc=ch",
    "AdminPassword": "MyAdminPassword",
    "UserSearchBase": "ou=users,dc=mycompany,dc=ch",
    "UserSearchFilter": "(&(objectclass=inetOrgPerson)(uid={0}))",
    "ValidateUserPassword": true,
    "MobileNrAttribute": "mobile",
    "LanguageAttribute": "preferredLanguage",
    "SerialNrAttribute": "msNPCallingStationID",
    "MfaMethod": {
      "AttributeName": "mfaType",
      "Mappings": {
        "Sim": "Sim",
        "App": "App",
        "Otp": "Otp"
      }
    }
  },
  "Geofencing": {
    "Activate": true,
    "Whitelist": [
      "CH",
      "DE"
    ],
    "Blacklist": [
      "US"
    ],
    "MinimalDeviceConfidence": 0.7,
    "MinimalLocationConfidence": 0.7
  },
  "DefaultLanguage": "en",
  "ValidateSerialNr": false,
  "UseUserLanguage": false,
  "UseUserMfaMethod": true,
  "MfaMethods": [
    "SIM",
    "APP",
    "OTP"
  ],
  "Otp": {
    "Length": 5,
    "Mode": "Text",
    "DefaultText": "Your MobileID Code is {0}",
    "Messages": [
      {
        "Code": "de",
        "Text": "Ihr MobileID Code ist {0}"
      },
      {
        "Code": "fr",
        "Text": "Votre MobileID Code est {0}"
      },
      {
        "Code": "it",
        "Text": "Il MobileID Code è {0}"
      },
      {
        "Code": "en",
        "Text": "Your MobileID Code is {0}"
      }
    ]
  },
  "SimApp": {
    "DefaultText": "Please enter your Mobile ID code",
    "Messages": [
      {
        "Code": "de",
        "Text": "Mobile ID Code eingeben"
      },
      {
        "Code": "fr",
        "Text": "Mobile ID Code eingeben"
      },
      {
        "Code": "it",
        "Text": "Mobile ID Code eingeben"
      },
      {
        "Code": "en",
        "Text": "Please enter your Mobile ID code"
      }
    ]
  },
  "Events": {
    "UnusedMidServiceEvent": {
      "ExecutionDelayMinutes": 3,
      "NotificationIntervalDays": 7,
      "AppSmsText": {
        "Default": "Please visit https://mobileid.ch/activate and activate the MobileID App",
        "De": "Please visit https://mobileid.ch/activate and activate the MobileID App (de)",
        "Fr": "Please visit https://mobileid.ch/activate and activate the MobileID App (fr)",
        "It": "Please visit https://mobileid.ch/activate and activate the MobileID App (it)",
        "En": "Please visit https://mobileid.ch/activate and activate the MobileID App (en)"
      },
      "SimSmsText": {
        "Default": "Please visit https://mobileid.ch/activate and activate your MobileID SIM card",
        "De": "Please visit https://mobileid.ch/activate and activate your MobileID SIM card (de)",
        "Fr": "Please visit https://mobileid.ch/activate and activate your MobileID SIM card (fr)",
        "It": "Please visit https://mobileid.ch/activate and activate your MobileID SIM card (it)",
        "En": "Please visit https://mobileid.ch/activate and activate your MobileID SIM card (en)"
      }
    },
    "ErrorNotificationEvent": {
      "ExecutionDelayMinutes": 0,
      "HandledErrorCodes": [
        {
          "ErrorCode": "RigSerialNumberMismatch",
          "NotificationIntervalDays": 1,
          "SmsText": {
            "Default": "Your MobileID Token has changed. Please re-register your MobileID at https://xyz.com/register before you try to access xyz.com.",
            "De": "Your MobileID Token has changed. Please re-register your MobileID at https://xyz.com/register before you try to access xyz.com. (de)",
            "Fr": "Your MobileID Token has changed. Please re-register your MobileID at https://xyz.com/register before you try to access xyz.com. (fr)",
            "It": "Your MobileID Token has changed. Please re-register your MobileID at https://xyz.com/register before you try to access xyz.com. (it)",
            "En": "Your MobileID Token has changed. Please re-register your MobileID at https://xyz.com/register before you try to access xyz.com. (en)"
          }
        },
        {
          "ErrorCode": "MidGeo_100",
          "NotificationIntervalDays": 1,
          "SmsText": {
            "Default": "Hi! Please make sure to enable the Geofencing Toggle in your MobileID App",
            "De": "Hi! Please make sure to enable the Geofencing Toggle in your MobileID App (de)",
            "Fr": "Hi! Please make sure to enable the Geofencing Toggle in your MobileID App (fr)",
            "It": "Hi! Please make sure to enable the Geofencing Toggle in your MobileID App (it)",
            "En": "Hi! Please make sure to enable the Geofencing Toggle in your MobileID App (en)"
          }
        }
      ]
    }
  }
}